@*@{
    ViewBag.Title = "Enzo là nền tảng thương mại điện tử hàng đầu tại Đông Nam Á và Đài Loan.";
}
<h2>@ViewBag.Title.</h2>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img class="center-align" src="/Content/img/background-enzo-about.png" alt="background-enzo" style="width: 100%; height: auto;">
    
    <h2 class="center-align">Enzo là nền tảng thương mại điện tử hàng đầu tại Đông Nam Á và Đài Loan</h2>
    
    <link rel="stylesheet" type="text/css" href="/Content/css/nn-style.css">
</head>
<body>
    <p class="custom-font-size-and-center">Ra mắt năm 2015, nền tảng thương mại Enzo được xây dựng nhằm cung cấp cho người dùng những trải nghiệm dễ dàng, an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.</p>
    <p class="custom-font-size-and-center">Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm mua sắm trực tuyến phải đơn giản, dễ dàng và mang đến cảm xúc vui thích. Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại Enzo.</p>
    <div class="container2">
        <div class="section2">
            <h2>Mục tiêu của chúng tôi</h2>
            <p class="center-align">Chúng tôi tin tưởng vào sức mạnh khai triển của công nghệ và mong muốn góp phần làm cho thế giới trở nên tốt đẹp hơn bằng việc kết nối cộng đồng người mua và người bán thông qua việc cung cấp một nền tảng thương mại điện tử.</p>
        </div>
        <div class="section2">
            <h2>Định vị của chúng tôi</h2>
            <p class="center-align">Đối với người dùng trên toàn khu vực, Enzo mang đến trải nghiệm mua sắm trực tuyến tích hợp với vô số sản phẩm đa dạng chủng loại, cộng đồng người dùng năng động và chuỗi dịch vụ liền mạch.</p>
        </div>
    </div>

    <h2 class="center-align">Giá trị Cốt lõi</h2>
    <p class="Only-font-size">"Hiểu người khác chính là chìa khóa để lãnh đạo thành công. Tại Enzo,điều quan trọng với chúng tôi là làm thế nào để mang lại trải nghiệm tốt nhất cho nhân viên, đối tác và người dùng." - Chris Feng - Group President, Sea</p>
    <img class="center-align" src="/Content/img/gia-tri-cot-loi.jpg" alt="gia-tri-cot-loi" style="width: 100%; height: auto;">

    <h2 class="center-align">VĂN HÓA</h2>
    <p class="Only-font-size">Văn hóa Enzo được gói gọn trong 6 chữ “TÔN ĐỔI ĐỒNG - CHÍ GƯƠNG SÁNG”, trong đó: “TÔN ĐỔI ĐỒNG” nghĩa là “Tôn trọng cá nhân - Tinh thần đổi mới - Tinh thần đồng đội”, là những giá trị mà tất cả người Enzo đều chia sẻ.</p>
    <img class="center-align" src="/Content/img/van-hoa.png" alt="van-hoa" style="width: 100%; height: auto;">

</body>
</html>
